{extend name='admin@public/content'}

{block name="content"}

<table class="layui-table" lay-even lay-skin="line">
    <colgroup>
        <col width="20%">
        <col width="30%">
        <col width="20%">
        <col width="30%">
    </colgroup>
    <thead>
    <tr>
        <th class="text-left" colspan="2">系统信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="nowrap">柜子数量</td>
        <td class="nowrap">28</td>
    </tr>
    <tr>
        <td class="nowrap">使用数量</td>
        <td class="nowrap">3</td>
    </tr>
    <tr>
        <td class="nowrap">今日收益</td>
        <td class="nowrap">52.35</td>
    </tr>
    <tr>
        <td class="nowrap">异常提醒</td>
        <td class="nowrap">0</td>
    </tr>

    </tbody>
</table>
{/block}