<form autocomplete="off" class="layui-form layui-box" style='padding:25px 30px 20px 0' action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">开门方式</label>
        <div class="layui-input-block">
            <input autofocus name="name" value='{$vo.name|default=""}' required="required"
                   title="请输入开门方式" placeholder="请输入开门方式" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">开门方式说明</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入柜子描述" title="请输入开门方式说明"
                      class="layui-textarea" name="remark">{$vo.remark|default=""}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>window.form.render();</script>
</form>
